<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :first_mp3 %><br>
    <%= f.text_field :first_mp3 %>
  </div>
  <div class="field">
    <%= f.label :second_mp3 %><br>
    <%= f.text_field :second_mp3 %>
  </div>
  <div class="field">
    <%= f.label :agreed_to_terms %><br>
    <%= f.check_box :agreed_to_terms %>
  </div>
  <div class="field">
    <%= f.label :payment_confirmed %><br>
    <%= f.check_box :payment_confirmed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
