
<p>
  <strong>First name:</strong>
  <%= @registration.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @registration.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @registration.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @registration.phone_number %>
</p>

<p>
  <strong>Video:</strong>
  <%= @registration.video %>
</p>

<p>
  <strong>First mp3:</strong>
  <%= @registration.first_mp3 %>
</p>

<p>
  <strong>Second mp3:</strong>
  <%= @registration.second_mp3 %>
</p>

<p>
  <strong>Agreed to terms:</strong>
  <%= @registration.agreed_to_terms %>
</p>

<p>
  <strong>Payment confirmed:</strong>
  <%= @registration.payment_confirmed ? 'Yes' : 'No' %>
</p>
<hr>

<a class="btn-lg btn-primary" style="color:white" href="/">Go Back to the Home Page</a>

